.starship-container {
  display: inline-flex; 
  flex-flow: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: darkslategray;
  color: white;
  text-decoration-style: none;
  margin: 5px;
  padding: 0;
  width: 250px;
  height: 100px;
}

.page {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  text-align: start;
  justify-content: center;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.header {
  padding: 5px;
  background: black;
  color: white;
  text-align: center;
  margin: 0;
}